<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="narodlman.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <narodlman.Properties.Settings>
            <setting name="PathBookInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="PathNaroZip2EPub" serializeAs="String">
                <value>D:\MyPrograms\narozip2epub\narozip2epub\bin\Debug\net8.0-windows\narozip2epub.exe</value>
            </setting>
        </narodlman.Properties.Settings>
    </userSettings>
</configuration>